<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Result - Ontologi Indonesia Web App</title>
  <!-- plugins:css -->
  <!-- endinject -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <!--<form action="/" method="GET">-->
          <a class="navbar-brand brand-logo" href="/"><img
              src="{{ url_for('static', filename='images/logo PMP 2.png') }}" alt="logo" /></a>
          <!--<a class="navbar-brand brand-logo" href="/">PMP</a>-->
          <!--<img src="{{ url_for('static', filename='images/logo.svg') }}"-->
          <!--    alt="logo" />-->
          <!--<a class="navbar-brand brand-logo-mini" href="/"><img src="{{ url_for('static', filename='images/logo-mini.svg') }}"-->
          <!--    alt="logo" /></a>-->
          <!--</form>-->
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-4 w-100">
          <li class="nav-item nav-search d-none d-lg-block w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
            <a class="nav-link" href="/about">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">About</span>
            </a>
            <a class="nav-link" href="/list_new_traits">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">List New Traits</span>
            </a>
            <a class="nav-link" href="/list_all_traits">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">List All Traits</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Tabel Traits</h4>
                  <h5 style="text-align: right;"><a href="/set_trait">+ Tambah traits baru</a></h5>
                  <div class="table-responsive">
                    <table class="table" id="list_new_traits">
                      <thead>
                        <tr>
                          <th style="text-align:center">Words</th>
                          <th style="text-align:center">Traits</th>
                          <th style="text-align:center">Sub-Traits</th>
                          <th style="text-align:center">Upvote</th>
                          <th style="text-align:center">Downvote</th>
                          <th style="text-align:center">Vote</th>
                          <!-- <th style="text-align:center">Submit</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        {% for trait in traits: %}
                        <tr>
                          <td align="left">{{ trait[1] }}</td>
                          <td align="center">{{ trait[2] }}</td>
                          <td align="center">{{ trait[3] }}</td>
                          <td align="center">{{ trait[4] }}</td>
                          <td align="center">{{ trait[5] }}</td>
                          <td align="center"><input type="button" value="Upvote" onclick="upvote(this)"> <input type="button" value="Downvote" onclick="downvote(this)"></td>
                          <!-- <td align="center"><input type="button" value="Submit" onclick="submit(this)"></td> -->
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <!-- <h5 style="text-align: right;"><a href="/set_trait">Submit traits</a></h5> -->
                  <a href="/view_submit_traits" class="btn btn-primary mr-2">Submit traits</a>
                  <a href="/view_delete_traits" class="btn btn-danger mr-2">Delete traits</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019. All rights
              reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/chart.js/Chart.min.js') }}"></script>
  <script src="js/data-table.js"></script>
  <script src="js/jquery.dataTables.js"></script>
  <script src="js/dataTables.bootstrap4.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script>
    function upvote(element) {

      var row = element.parentNode.parentNode.rowIndex
      var cell = element.parentNode.cellIndex

      var x = document.getElementById("list_new_traits").rows[row].cells[3];
      x.innerHTML = parseInt(x.innerHTML) + 1;

      $.post("/upvote", { "texts": document.getElementById("list_new_traits").rows[row].cells[0].innerHTML })

    }

    function downvote(element) {

      var row = element.parentNode.parentNode.rowIndex
      var cell = element.parentNode.cellIndex

      var x = document.getElementById("list_new_traits").rows[row].cells[4];
      x.innerHTML = parseInt(x.innerHTML) + 1;

      $.post("/downvote", { "texts": document.getElementById("list_new_traits").rows[row].cells[0].innerHTML })
    }

    function submit(element) {

      var row = element.parentNode.parentNode.rowIndex

      var text = document.getElementById("list_new_traits").rows[row].cells[0].innerHTML;
      var trait = document.getElementById("list_new_traits").rows[row].cells[1].innerHTML;

      $.post("/submit_trait", { "texts": text, "traits": trait })

    }
  </script>
</body>



</html>

<!-- <!DOCTYPE html>
// <html lang="en">
// <head>
//     <meta charset="UTF-8">
//     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//     <title>Document</title>
// </head>
// <body>
//     <ul class="collection with-header">
//         <li class="collection-header"><h4><b>List Traits</b></h4></li>
//         {% for trait in traits: %}
//             <li class="collection-item"><a href="#">{{ trait[1] }}</a></li>
//         {% endfor %}
//     </ul>
//     <table style="width:100%">
//         <tr>
//           <th>Firstname</th>
//           <th>Lastname</th> 
//           <th>Age</th>
//         </tr>
//         <tr>
//           <td>Jill</td>
//           <td>Smith</td> 
//           <td>50</td>
//         </tr>
//         <tr>
//           <td>Eve</td>
//           <td>Jackson</td> 
//           <td>94</td>
//         </tr>
//       </table>
//       <div class="main-panel">
//         <div class="content-wrapper">

//           <div class="row">
//             <div class="col-md-12 grid-margin">
//               <div class="d-flex justify-content-between flex-wrap">
//                 <div class="d-flex align-items-end flex-wrap">
//                   <div class="mr-md-3 mr-xl-5">
//                     <h2>Selamat!</h2>
//                     <p class="mb-md-0">Berikut ini hasil analisa teks anda.</p>
//                   </div>
//                 </div>
//               </div>
//             </div>
//           </div>
//           <div class="row">
//             <div class="col-lg-6 grid-margin stretch-card">
//               <div class="card">
//                 <div class="card-body">
//                   <h4 class="card-title">Tabel Traits</h4>
//                   <div class="table-responsive">
//                     <table class="table">
//                       <thead>
//                         <tr>
//                           <th>Words</th>
//                           <th>Traits</th>
//                         </tr>
//                       </thead>
//                       <tbody>
//                         {% for trait in traits: %}
//                         <tr>
//                           <td>{{ trait[1] }}</td>
//                           <td> {{ trait[2] }}</td>
//                         </tr>
//                         {% endfor %}
//                       </tbody>
//                     </table>
//                   </div>
//                 </div>
//               </div>
//             </div>
//           </div>
//         </div>
// </body>
// </html> -->